<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

        <title>Skygate Security</title>
    </head>

    <body>
        <div style="text-align: center; max-width: 400px; margin: 0 auto; padding: 0px;">
            <img src="img/logo-skygatesecurity.png" />
            <h2>Cybersecurity for Small Businesses</h2>
        </div>

        <div style="max-width: 400px; margin: 0 auto; padding: 0px;">
            <h4>Malware Protection</h4>
            <p>
                There are many tools that can be purchased and installed. But what if there is something detected? What needs to be done? We can help
                by being alerted when these detections happens and taking actions remotely and ensuring data integrity.
            </p>
            <h4>Vulnerability Patch Management</h4>
            <p>
                Every day the software that is already on a computer is found to have vulnerabilities, or ways for bad things to happen. We can help
                by detecting the updates to this software and installing them automatically in the background. Keeping you, your employees, and your
                data secure.
            </p>
            <h4>Data Backup</h4>
            <p>
                The 2 most common threats to data are: Accidental deletion and Ransomware. We can help by keeping a cloud backup of all your data
                that can be restored upon request.
            </p>
            <h4>Security Training (Coming soon)</h4>
            <p>
                Knowing what to do when you get a suspicious email or text can be the difference between being "hacked" or thwarting an attack.
            </p>
            <p>
                For more information, please reach out via <a href="mailto:info@skygatesecurity.com">email</a>.
            </p>
        </div>
        <br />
        <div style="text-align: center; margin: 10px auto; padding: 0px;">
            <p>This site is still under development. Please check back frequently to see what's new.</p>
        </div>

        <div style="text-align: center;">
            <p>
                &#169; 2023 Skygate Security, a <a href="https://www.comtily.com">Comtily</a> product.
            </p>
          </div>
    </body>

    <script src="js/post_page_load.js"></script>

</html>
