<footer class="text-muted">
    <div class="container">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <p>
                Our other ventures...<br />
                <a href="https://notscrapyet.com" target="_new">Not Scrap Yet</a><br />
                <a href="https://itsweatheroutside.com" target="_new">It's Weather Outside</a>
            </p>
        </div><br />
        <div>
            <% const currentYear = new Date().getFullYear() %>
            &#169; <%=currentYear%> iseecoyotes
        </div>

    </div>
</footer>
</body>
<script src="js/markerclusterer.js"></script>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCobJ_2GW9sobsqyyNmn6Ph5zoCfUE_UE&callback=initMapIndex"></script> -->
</html>
