    <br />
    <div style="text-align: center; margin: 10px auto; padding: 0px;">
        <p>
            This site is still under development, has errors, and sometimes crashes. See <a href="/releases">what's new</a> 
            or provide <a href="/feedback">feedback/feature requests</a>.
        </p>
    </div>
    <footer>
        <div class="text-center p-4">
            <p>
                Some of our other ventures...
                <a href="https://iseecoyotes.com" target="_new">iseecoyotes</a>,
                <a href="https://itsweatheroutside.com" target="_new">It's Weather Outside</a>,
                <a href="https://notscrapyet.com" target="_new">Not Scrap Yet</a>
            </p>
            
            <% const currentYear = new Date().getFullYear() %>
            &#169; <%=currentYear%> Behavio by <a href="https://comtily.com" target="_new">Comtily</a>
        </div>
    </footer>
    <div class="text-center">
        <p>
            <a href="https://www.flaticon.com/free-icons/behaviour" title="behaviour icons">Behaviour icons created by Vectors Tank - Flaticon</a>
        </p>
    </div>
</body>
</html>
