    <br />
    <footer>
        <div class="text-center p-4">
            <p>
                Some of our other ventures...
                <a href="https://iseecoyotes.com" target="_new">iseecoyotes</a>,
                <a href="https://itsweatheroutside.com" target="_new">It's Weather Outside</a>,
                <a href="https://notscrapyet.com" target="_new">Not Scrap Yet</a>
            </p>
            
            <% const currentYear = new Date().getFullYear() %>
            &#169; <%=currentYear%> Adolescent Behavior Tracker by <a href="https://comtily.com" target="_new">Comtily</a>
        </div>
    </footer>
</body>
</html>
