<%- include('inc/header.ejs') %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">Cityblock Health, Inc.</h5>
            <p style="float:right;">February 2022 - Present</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Staff DevOps Engineer</p>
          <p style="font-weight:bold;">Senior DevOps Engineer</p>
          <p style="font-weight:bold;">Senior Security Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5>DevOps Skills</h5>
          <ul>
            <li>Kubernetes (GKE, Cloudrun)</li>
            <li>Helm</li>
            <li>Git / GitHub</li>
            <li>GitHub Actions</li>
            <li>Spacelift</li>
            <li>Google Cloud Platform (GCP)</li>
            <li>Amazon Web Services (AWS)</li>
            <li>Microsoft Azure</li>
            <li>Synk</li>
            <li>SonarCloud</li>
            <li>Ansible</li>
            <li>Crossplane</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">Comtily</h5>
            <p style="float:right;">January 2015 - Present</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Founder and CEO</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5>Skills</h5>
          <ul>
            <li>Kubernetes (GKE, Cloudrun)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">TrueBlue Inc.</h5>
            <p style="float:right;">February 2019 - February 2022</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Manager, Cybersecurity Operations</p>
          <p style="font-weight:bold;">Senior Security Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5> Skills</h5>
          <ul>
            <li>Enter skills here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">OneSpan (Formerly Vasco Data Security)</h5>
            <p style="float:right;">October 2014 - February 2019</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">IT Operational Security Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5> Skills</h5>
          <ul>
            <li>Enter skills here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">Google / Motorola Mobility (Astreya Partners)</h5>
            <p style="float:right;">October 2013 - September 2014</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Network Security Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5> Skills</h5>
          <ul>
            <li>Enter skills here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">Department of Veteran Affairs (Adams Communication & Engineering Technology, Inc.)</h5>
            <p style="float:right;">June 2013 - October 2013</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Network Security Analyst II</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5> Skills</h5>
          <ul>
            <li>Enter skills here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">National University of Health Sciences</h5>
            <p style="float:right;">May 2007 - May 2013</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Systems Administrator</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5> Skills</h5>
          <ul>
            <li>Enter skills here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div>
            <h5 style="float:left; font-weight:bold;">Online Data Corp</h5>
            <p style="float:right;">April 2006 - September 2006</p>
          </div>
          <div style="clear: both;"></div>
          <p style="font-weight:bold;">Network Administrator</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5> Skills</h5>
          <ul>
            <li>Enter skills here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>                  

</div><br />

<%- include('inc/footer.ejs') %></div>
