<%- include('inc/header.ejs') %>

<div class="container-fluid" style="max-width: 970px">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex"><div class="justify-content-start"><span class="h5">Cityblock Health</span></div><div class="justify-content-end"><span class="badge bg-primary">February 28, 2022 - Presnet</span></div>
        </div>
          <p><strong>Staff DevOps Engineer</strong> <span class="badge bg-primary">December 14, 2022</span>
          <p class="h6">Cityblock Health</p>
          <h5 style="display:inline-block;">Staff DevOps Engineer</h5> <p style="display:inline-block;">December 14, 2022</p>

          

<p>
          
          Staff Devops Engineer (12/14/2022)
          $186,708
          Senior DevOps Engineer (05/16/2022)
          $168,037
          Senior Cloud Security Engineer
          $164,000
          Cityblock Health, Inc.
          495 Flatbush Avenue
          Suite C5
          Brooklyn, NY 11225
          833-904-2273
          February 4, 2019 - February 25, 2022
          Senior Security Operations Engineer
          $135,000
          Manager, Cybersecurity Operations
          02/2020 - 10/2021
          $139,750
          TrueBlue Inc.
          1015 A St, Tacoma, WA 98402
          800-610-8920
          
          
          October 6, 2014 - February 1, 2019
          IT Operational Security Engineer
          OneSpan
          121 W Wacker
          Suite 2050
          Chicago IL  60601
          312-766-4001
          
          Vasco Data Security
          1901 S Meyers Road
          Suite 210
          Oakbrook Terrace, IL 60181
          630-932-8844
          October 21, 2013 - September 30, 2014
          Network Security Engineer
          Astreya Partners
          3970 Freedom Circle
          Suite 110
          Santa Clara, CA 95054
          800-224-1117
          
          @ Google/Motorola
          222 W Merchandise Mart Plaza
          Chicago, IL 60654
          847-881-6370
          June 10, 2013 - October 17, 2013
          Network Security Analyst II
          
          
          Adams Communication & Engineering Technology, Inc.
          10740 Parkridge Blvd
          Suite 700
          Reston, Virginia 20191
          703-391-1682
          @ Department of Veteran Affairs
          5000 South 5th Avenue
          Hines, IL 60141
          708-202-8387
          May 07, 2007 - May 31, 2013
          Systems Administrator
          National University of Health Sciences
          200 E Roosevelt Rd
          Lombard, IL 60148
          630-629-9664
          September 2006 - April 2007
          Network Administrator
          Online Data Corp
          1 Westbrook Corporate Center
          Westchester, IL 60154
          708-562-2777
          April 2006 - September 2006
          
          
          
          
          IT Siren
          3275 North Arlington Heights Rd
          Arlington Heights, IL 60004
          847-934-9996
          November 2005 - January 2006
          
          
          Ideanet
          117 W Slade St #200
          Palatine, IL 60067
          January 2005 - April 2006
          
          
          Best Toys
          5100 Academy Drive #300
          Lisle, IL 60532
          630-493-0129
          June 2001 - January 2005
          Fedex Ground
          205 Della Court
          Carol Stream, IL 60188
          February 2001 - June 2001
          UPS (United Parcel Services)
          102 S Lombard Road
          Addison, IL 60101
          September 1999 - June 2001
          
          
          Best Buy #610
          585 Kehoe Blvd
          Carol Stream, IL 60188
          September 1999 - June 2001
          
          
          Best Buy #310
          4400 E New York St
          Aurora, IL 60504
          630-851-0122
          
          








          <h1 style="text-align: center;">Comtily</h1>
          <h5 style="text-align: center;">Software for the People, By the People</h5>
          <p>
            Welcome to Comtily, where we believe in empowering individuals and businesses with software that prioritizes community benefit over 
            corporate profits. In a world dominated by profit-driven applications, we're here to reshape the landscape.<br /><br />
            🚗 Not Scrap Yet: Revolutionizing the auto ad experience, our application connects drivers with relevant ads while ensuring privacy 
            and fair compensation. Every mile, every view, counts.<br /><br />
            🌦 It's Weather Outside: Say goodbye to commercial weather apps. Our user-friendly application provides accurate forecasts without 
            the clutter, ensuring you're always prepared for the elements.<br /><br />
            <!-- 🔒 Skygate Security: Tailored for small businesses, Skygate Security offers robust protection against digital threats. With us, 
            your business data remains secure, allowing you to focus on growth and innovation.<br /><br />
            Join us in our mission to make software that serves the people, respects privacy, and champions community well-being. -->
          </p>
          <p style="text-align: center;"><a href="howtocontribute">Find out more about contributor opportunities</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5>DevOps Skills</h5>
          <ul>
            <li>Kubernetes (GKE, Cloudrun)</li>
            <li>Helm</li>
            <li>Git / GitHub</li>
            <li>GitHub Actions</li>
            <li>Spacelift</li>
            <li>Google Cloud Platform (GCP)</li>
            <li>Amazon Web Services (AWS)</li>
            <li>Microsoft Azure</li>
            <li>Synk</li>
            <li>SonarCloud</li>
            <li>Ansible</li>
            <li>Crossplane</li>
          </ul>
        </div>
      </div>
    </div>
  </div><br />

  </div><br />

<%- include('inc/footer.ejs') %></div>