<%- include('inc/header.ejs') %>

        <div class="main-container">
            <h1 style="text-align: center;">Auto Insurance</h1>
            <p>
                <strong>Problem:</strong><br />
                There are a limited number of auto insurance companies that are not built for investor profit that cater to 
                the standard consumer. This makes profits the priority over the well being of the consumer. Think Bob Par from the Incredibles that does whatever
                it takes to help his customers and gets fired.
            </p>
            <p>
                <strong>Solution:</strong><br />
                Using a Not for Profit model, create an insurance firm that can offer the best pricing for ALL members regardless of who they are.
                We will insure the car first, then unfortunately surcharge accidents and other bad driving habits.
            </p>
            <ul>
                <li>Policy pricing is based on the vehicle and is the same for everyone. This is disclosed to everyone</li>
                <li>Surcharges will be listed and described to ensure everyone knows why their rate is more than the next person</li>
                <li>Discounts will also be listed and described for the same reasons.</li>
                <li>Because this is using a NFP model the profits will ensure proper repairs and fair pay for contributors and employees</li>
                <li>Reach out via the contact us section to add to this list or to contribute</li>
            </ul>
        </div>
        <div class="main-header">
            <p style="text-align: center;"><a href="howtocontribute">Find out more about contributor opportunities</a></p>
        </div>
        <div class="main-header">
            <h3 style="text-align: center;">Contact Us</h3>
            <p style="text-align: center;"><a href="mailto:info@comtily.com?subject=Comtily Incubator: Auto Insurance" target="_new">Email</a></p>
        </div>
    
<%- include('inc/footer.ejs') %>