<%- include('inc/header.ejs') %>

  <body>
    <div class="main-container">
      <img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; width: 200px;" src="img/logo-comtily-500x500.png" />
      <h1 style="text-align: center;">Comtily</h1>
      <p>
        We have begun this project to help solve obscure problems related to how businesses operate within the US (and possibly the world) today.<br /><br />
        Businesses are run to make money. There is nothing wrong with that, except when there are no longer enough options to make a fair choice.
        Below you will see several projects that we have selected to focus our efforts on. They take services that are "required" for 
        daily life and mix them with technology to create an alternative to big business.<br /><br />
        We are looking for potential investors (minimal return) and a lot of contributors while we build a viable product to help make this all happen.<br /><br />
        Here is a list of potential jobs one can contribue in:
      </p>
      <ul>
        <li>UX Design</li>
        <li>Social Media, Marketing, Branding</li>
        <li>Sales</li>
        <li>Legal</li>
        <li>And much much more...</li>
      </ul>
      <p><a href="howtocontribute">Find out more about contributor opportunities</a></p>
    </div>
    <div class="double-container">
      <div class="double-container-box">
        <h2 style="text-align: center;">Not Scrap Yet</h2>
        <p>
          <strong>Problem:</strong><br />
          The big car sites focus on profits and how to make thsoe profits, not in the user experience to purchase a car.
        </p>
        <p>
          <strong>Solution:</strong>
          Create a site tailored to the consumer, but makes it easy and desirable for dealers and private party seller participation
        </p>
        <p><a href="notscrapyet">More information</a></p>
      </div>
      <div class="double-container-box">
        <h2 style="text-align: center;">Skygate Security</h2>
        <p>
          <strong>Problem:</strong><br />
          Small Business can be affected by the same cyber criminals that big business can. However, the outcomes 
          can be dramatically different. Most small businesses that are affected by cyber crime go out of business because 
          it is too expensive to fix or their reputation is lost.
        </p>
        <p>
          <strong>Solution:</strong><br />
          Create a custom tailored cybersecurity solution of products that is easy to install, maintain, and get easy support for a low price.
        </p>
        <p><a href="skygatesecurity">More information</a></p>
      </div>
    </div>
    <div class="double-container">
      <div class="double-container-box">
        <h2 style="text-align: center;">It's Weather Outside</h2>
        <p>
          <strong>Problem:</strong><br />
          Weather apps are very good at relaying the most common information to us. However, they miss very key 
          points that should be options like when does the daytime high occur or is it getting warmer or colder.
        </p>
        <p>
          <strong>Solution:</strong><br />
          Create a weather app that is highly customizable, but easy to use with key metric hightlighted by default
        </p>
        <p><a href="itsweatheroutside">More information</a></p>
      </div>
      <div class="double-container-box">
        <h2 style="text-align: center;">Auto Insurance</h2>
        <h3></h3>
        <p><strong>Problem:</strong><br />
          There are a limited number of auto insurance companies that are not built for investor profit that cater to 
          the standard consumer. This makes profits the priority over the well being of the consumer. Think Bob Par from the Incredibles that does whatever
          it takes to help his customers and gets fired.
        </p>
        <p>
          <strong>Solution:</strong><br />
          Create an auto insurance company that works for the customer and not investors.
        </p>
        <p><a href="autoinsurance">More information</a></p>
      </div>
    </div>

    <div class="sub-container">
      <h3>Contact Us</h3>
      <p>
        <a href="mailto:info@comtily.com" target="_new">Email</a><br />
      </p>
    </div>

<%- include('inc/footer.ejs') %>