<%- include('inc/header.ejs') %>

<div class="container-fluid" style="max-width: 970px">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; width: 200px;" src="img/logo-comtily-500x500.png" />
          <h1 style="text-align: center;">Comtily</h1>
          <h5 style="text-align: center;">Software for the People, By the People</h5>
          <p>
            <img src="https://notscrapyet.com/img/favicon/favicon-32x32.png" alt=""> <a href="https://notscrapyet.com">Not Scrap Yet</a>: In the current landscape of online car marketplaces, there exists a notable issue where major platforms predominantly prioritize
            profit-driven strategies over cultivating an exceptional user experience for potential car buyers. The focus tends to lean heavily
            towards maximizing financial gains rather than addressing the specific needs and preferences of consumers in their car-buying journey.<br /><br />
            To address this problem, a solution presents itself in the form of a tailored platform designed with the consumer at its core. This
            innovative approach seeks to redefine the car-buying experience by placing a strong emphasis on user satisfaction and convenience.
            Simultaneously, the platform aims to foster a marketplace that is not only user-friendly but also appealing to both dealers and
            private sellers. By striking a balance between consumer-centric design and providing incentives for sellers, this solution envisions a
            harmonious online space that benefits all parties involved, creating a more seamless and mutually advantageous car purchasing environment.
          </p>
          <p>
            <img src="https://itsweatheroutside.com/img/favicon/favicon-32x32.png" alt=""> <a href="https://itsweatheroutside.com">It's Weather Outside</a>: One of the challenges with existing weather apps is their limitation in providing comprehensive information, often overlooking crucial
            details such as the timing of daytime temperature peaks and trends in temperature changes. To address this issue, a proposed solution
            involves the development of a highly customizable weather application. This app aims to offer users the flexibility to tailor their
            experience while ensuring that essential metrics, such as the timing of daytime temperature highs and indications of temperature fluctuations,
            are prominently highlighted by default. The goal is to strike a balance between customization and user-friendly design, enhancing the
            overall weather forecasting experience.
          </p>
          <p>
            <img src="https://iseecotyoes.com/img/favicon/favicon-32x32.png" alt=""> <a href="https://www.iseecotyoes.com">iseecoyotes</a>: Coming Soon.
          </p>

        </div>
      </div>
    </div>
  </div>

<%- include('inc/footer.ejs') %>
