<%- include('inc/header.ejs') %>

<div class="container-fluid" style="max-width: 970px">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; width: 200px;" src="img/logo-comtily-500x500.png" />
          <h1 style="text-align: center;">Comtily</h1>
          <h5 style="text-align: center;">Software for the People, By the People</h5>
          <p>
            Welcome to Comtily, where we believe in empowering individuals and businesses with software that prioritizes community benefit over 
            corporate profits. In a world dominated by profit-driven applications, we're here to reshape the landscape.<br /><br />
            🚗 Not Scrap Yet: Revolutionizing the auto ad experience, our application connects drivers with relevant ads while ensuring privacy 
            and fair compensation. Every mile, every view, counts.<br /><br />
            🌦 It's Weather Outside: Say goodbye to commercial weather apps. Our user-friendly application provides accurate forecasts without 
            the clutter, ensuring you're always prepared for the elements.<br /><br />
            <!-- 🔒 Skygate Security: Tailored for small businesses, Skygate Security offers robust protection against digital threats. With us, 
            your business data remains secure, allowing you to focus on growth and innovation.<br /><br />
            Join us in our mission to make software that serves the people, respects privacy, and champions community well-being. -->
          </p>
          <p style="text-align: center;"><a href="howtocontribute">Find out more about contributor opportunities</a></p>
        </div>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Not Scrap Yet</h5>
        </div>
        <div class="card-body">
          <p>
            In the current landscape of online car marketplaces, there exists a notable issue where major platforms predominantly prioritize 
            profit-driven strategies over cultivating an exceptional user experience for potential car buyers. The focus tends to lean heavily 
            towards maximizing financial gains rather than addressing the specific needs and preferences of consumers in their car-buying journey.<br /><br />
            To address this problem, a solution presents itself in the form of a tailored platform designed with the consumer at its core. This 
            innovative approach seeks to redefine the car-buying experience by placing a strong emphasis on user satisfaction and convenience. 
            Simultaneously, the platform aims to foster a marketplace that is not only user-friendly but also appealing to both dealers and 
            private sellers. By striking a balance between consumer-centric design and providing incentives for sellers, this solution envisions a 
            harmonious online space that benefits all parties involved, creating a more seamless and mutually advantageous car purchasing environment.
          </p>
          <p class="text-center"><a href="https://www.notscrapyet.com">www.notscrapyet.com</a></p>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Skygate Security</h5>
          <p class="text-center"><a href="https://www.skygatesecurity.com">www.skygatesecurity.com</a></p>
        </div>
        <div class="card-body">
          <p>
            In the realm of cybersecurity, both small and large businesses face the looming threat of cyber criminals. Despite this common vulnerability, 
            the consequences for small businesses can be disproportionately severe, often resulting in financial strain and irreparable damage to their 
            reputation. Many small enterprises find themselves forced out of business due to the exorbitant costs associated with rectifying cybercrime 
            impacts. To address this issue, a viable solution involves implementing a personalized cybersecurity strategy encompassing user-friendly 
            products. This solution emphasizes ease of installation, maintenance, and accessibility to support services, all offered at an affordable 
            price point. By tailoring such a comprehensive cybersecurity approach, small businesses can fortify their defenses and safeguard against 
            potential threats, mitigating the risk of closure and reputational harm.<br /><br /><br /><br />
          </p>
          <p class="text-center"><a href="skygatesecurity">More information</a></p>
        </div>
      </div>
    </div> -->
  </div><br />
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>It's Weather Outside</h5>
        </div>
        <div class="card-body">
          <p>
            One of the challenges with existing weather apps is their limitation in providing comprehensive information, often overlooking crucial 
            details such as the timing of daytime temperature peaks and trends in temperature changes. To address this issue, a proposed solution 
            involves the development of a highly customizable weather application. This app aims to offer users the flexibility to tailor their 
            experience while ensuring that essential metrics, such as the timing of daytime temperature highs and indications of temperature fluctuations, 
            are prominently highlighted by default. The goal is to strike a balance between customization and user-friendly design, enhancing the 
            overall weather forecasting experience.
          </p>
          <p class="text-center"><a href="https://www.itsweatheroutside.com">www.itsweatheroutside.com</a></p>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Auto Insurance</h5>
          <p>&nbsp;</p>
        </div>
        <div class="card-body">
          <p>
            In the current landscape of auto insurance, a prevailing issue arises from the scarcity of companies designed with a primary focus on 
            serving the standard consumer rather than prioritizing investor profits. This imbalance places the financial interests of investors 
            above the well-being of policyholders, reminiscent of situations where dedicated individuals, like Bob Par from the Incredibles, are 
            dismissed for prioritizing customer welfare over corporate gains. To address this problem, the proposed solution involves the 
            establishment of a new auto insurance company explicitly tailored to prioritize the needs and satisfaction of the customer, diverging 
            from the profit-centric approach of existing companies. This innovative approach aims to create a customer-centric model where the 
            well-being of policyholders takes precedence over maximizing financial returns for investors.
          </p>
          <p class="text-center"><a href="autoinsurance">More information</a></p>
        </div>
      </div>
    </div> -->
  </div><br />

<%- include('inc/footer.ejs') %>