<%- include('inc/header.ejs') %>

        <div class="main-container">
            <h1 style="text-align: center;">It's Weather Outside</h1>
            <p style="text-align: center;"><a href="https://www.itsweatheroutside.com">www.itsweatheroutside.com</a></p>
            <p>
                <strong>Problem:</strong><br />
                Weather apps are very good at relaying the most common information to us. However, they miss very key
                points that should be options like when does the daytime high occur or is it getting warmer or colder.
            </p>
            <p>
                <strong>Problem example:</strong><br />
                Here in northern Illinois knowing which direction the temperature is going is just as important as what it is. I don't want to look at the hourly
                forecasts for this simple information. Plus if it is 8 AM and the temperature is at its highest I want to know that without have to search for that.
            </p>
            <p>
                <strong>Solution:</strong><br />
                Create a weather app that doesn't focus on flashy graphics or information, but just the desired details. This project was started
                with the basis that someone should know exactly what time the daytime high/lows occur. This led to desiring to know which direction
                the temperature is trending. This list goes on.
            </p>
            <ul>
                <li>Prominent current temperature and whether it is trending UP or DOWN</li>
                <li>Daytime and Nighttime High and Lows at the time in which they occur</li>
                <li>Settings
                    <ul>
                        <li>Celsius or Farenheit</li>
                        <li>Show/hide hourly or weekly forecasts</li>
                        <li>Activity related items (Skiing, boating...)</li>
                    </ul>
                </li>
                <li>Reach out via the contact us section to add to this list or to contribute</li>
            </ul>

            <p><a href="https://github.com/geryonghost/itsweatheroutside">GitHub Repository</a></p>
        </div>
        <div class="main-header">
            <p style="text-align: center;"><a href="howtocontribute">Find out more about contributor opportunities</a></p>
        </div>
        <div class="main-header">
            <h3 style="text-align: center;">Contact Us</h3>
            <p style="text-align: center;"><a href="mailto:info@comtily.com?subject=Comtily: It's Weather Outside" target="_new">Email</a></p>
        </div>

<%- include('inc/footer.ejs') %>
