<%- include('inc/header.ejs') %>

        <div class="main-container">
            <h1 style="text-align: center;">Not Scrap Yet</h1>
            <p style="text-align: center;"><a href="https://www.notscrapyet.com">www.notscrapyet.com</a></p>
            <p>
                <strong>Problem:</strong><br />
                The big car sites focus on profits and how to make thsoe profits. That relies on dealers and private
                sellers to pay to post their cars on the sites.
            </p>
            <p>
                <strong>Solution:</strong><br />
                Originally the idea was to scrape the data off of dealership websites along with Craigslist. However, scraping proved to be
                very time intensive and difficult in many cases. This project will take very basic data from a dealer (or private seller)
                to create a basic listing that has the same format and source of this basic information. Each listing will look the same taking
                away the uniqueness of listings on mainstream sites.
                <ul>
                    <li>Collect year, make, model, vin, odometer, price, url, and photos.</li>
                    <li>Reference a public database and pull officially submodels and options</li>
                    <li>Create a listing with this information that is easily searchable</li>
                    <li>No images, no listing</li>
                    <li>No price, no listing</li>
                    <li>The biggest pain shopping for a car is finding relevent data, if we can't have a complete listing, we won't show it.</li>
                    <li>Reach out via the contact us section to add to this list or to contribute</li>
                </ul>
            </p>
            <p><a href="https://github.com/geryonghost/notscrapyet">GitHub Repository</a></p>
        </div>
        <div class="main-header">
            <p style="text-align: center;"><a href="howtocontribute">Find out more about contributor opportunities</a></p>
        </div>
        <div class="main-header">
            <h3 style="text-align: center;">Contact Us</h3>
            <p style="text-align: center;"><a href="mailto:info@comtily.com?subject=Comtily: Not Scrap Yet" target="_new">Email</a></p>
        </div>

<%- include('inc/footer.ejs') %>
