<%- include('inc/header.ejs') %>

<div class="alert alert-secondary" role="alert"><strong><%=pageTitle%></strong></div>

<p>
    Welcome Auto Dealers of America (Only US today). We have started this site to not only help you, the dealers, but the consumers.
    Recently when I was searching for a vehicle, I found it extremely frustrating. The biggest barrier for me finding my desired vehicle
    is that various dealers large and small use many different websites to advertise their vehciles. On each website I needed to custom
    configure the search, hope there was a save feature, and hope there weren't duplicates. I did this for 6+ months on at least 8 websites.
    I found the vehcile I wanted, but decided this experience is subpar. But creating a new website will solve this? How?
</p>
<p>
    The key differences we hope differentiates us from other auto sales websites are:
</p>
<ul>
    <li>Searchability - We want to make it easy to search and repeat that search.</li>
    <li>Usability for Dealers - We want dealers to have as close to a zero effort process as possible. This will enable more dealers to interface
        with us.
    </li>
    <li>Affodability - Because we want <strong>ALL</strong> consumers to use our service and <strong>ALL</strong> dealers to put their vehicle ads
        on our site, we are not out for massive profits. Initially we wanted this to be free, but services have costs and selling ads on a site
        that is full of ads is confusing. We hope our simple pricing model for dealers will get you <strong>ALL</strong> on our website.
    </li>
</ul>
<!--
<div class="alert alert-secondary" role="alert"><strong>Pricing</strong></div>
<p>
    We have 2 pricing plans.
</p>
<ul>
    <li>$75/month: For dealers that can upload a CSV (XLS and XLSX coming soon) file with basic details of the vehicle and image locations.</li>
    <li>$200/month: For dealers that need us to scrape their website for all the required information.</li>
</ul> -->
<div class="alert alert-secondary" role="alert"><strong>Sign Up</strong></div>
<form method="post">
    <a href="mailto:info@notscrapyet.com">Email Us</a>
    <!-- Dealership Name
    Dealership Address
    Dealership City, State Zip
    Dealership Phone
    Dealership Website

    Contact Information:
    First Name, Last Name
    Phone Number
    Email Address

    Billing Information:
    ?? -->
</form><br />
<!-- <div class="alert alert-secondary" role="alert"><strong>Upload CSV</strong></div> -->
<!-- <form class="row row-cols-lg-auto g-3 position-relative" action="/dealers/upload/csv" method="post" enctype="multipart/form-data">
    <label id="dealer_id_label" for="dealer_id" class="col-sm-2 col-form-label">Dealer ID:</label>
    <div class="col-auto">
        <input type="text" id="dealer_id" name="dealer_id" class="form-text" aria-label="dealer id" required>
    </div>
    <label id="dealer_csv_file_label" for="dealer_csv_file" class="col-sm-2 col-form-label">CSV File:</label>
    <input type="file" name="dealer_csv_file" accept=".csv" required>
    <button type="submit">Upload</button>
</form> -->

<!-- <a href="/dealers/upload/csv" >CSV Upload</a> -->
<!--
    <div class="col-auto">
        <h1>Dealer</h1>
    </div>
</div>
<div class="col-sm">
    <div class="card border-primary">
        <div class="card-img-top">
            <div class="embed-responsive embed-responsive-4by3">
                <div class="embed-responsive-item">
                    Something
                </div>
            </div>
        </div>

        <div class="card-body">
            -->

        <!-- </div> -->

    <!-- </div> -->
<!-- </div> -->

<%- include('inc/footer.ejs') %>
