<%- include('inc/header.ejs') %>


<h3>Feedback / Feature Requests</h3>
<p>
    To submit feedback or a feature request, please email us at
    <script language="javaScript">
        user = 'feedback';
        site = 'notscrapyet.com';
        document.write('<a href=\"mailto:' + user + '@' + site + '\">');
        document.write(user + '@' + site + '</a>');
      </script><br />
</p><br />
<h6>Updated 04/26/2024</h6>
There are no pending feature requests.<br />

<%- include('inc/footer.ejs') %>
