<%- include('inc/header.ejs') %>

<p>
    Welcome to Not Scrap Yet. We have started this site to not only help both the consumers and the dealers. Recently when I was searching 
    for a vehicle, I found it extremely frustrating. The biggest barrier for me finding my desired vehicle is that various dealers large and 
    small use many different websites to advertise their vehciles. On each website I needed to custom configure the search, hope there was a 
    save feature, and hope there weren't duplicates. I did this for 6+ months on at least 8 websites. I found the vehcile I wanted, but 
    decided this experience is subpar. But creating a new website will solve this? How?<br /><br />

    The key differences we hope differentiate us from the other auto sales websites are:
</p>
<ul>
    <li>Searchability - We want to make it easy to search and repeat that search.</li>
    <li>Usability for Dealers - We want dealers to have as close to a zero effort process as possible. This will enable more dealers to interface with us.</li>
    <li>Affodability - Because we want ALL consumers to use our service and ALL dealers to put their vehicle ads on our site, we are not out for massive profits. Initially we wanted this to be free, but services have costs and selling ads on a site that is full of ads is confusing. We hope our simple pricing model for dealers will get you ALL on our website.</li>
</ul>
</p>
<p>
    We are signing up dealers right now to start off the new year. Soon consumers and dealers will be able to search and request new types of features.
</p>

              
<%- include('inc/footer.ejs') %>