<%- include('inc/header.ejs') %>

<h3>Release Notes</h3>
<h6>Updated 03/12/2024</h6>
<br />

March 12, 2024
<ul>
    <li>This release page</li>
    <li>Filters for distance, min/max price, min/max year, min/max mileage</li>
    <li>Added page limits of 24, 48, and 72</li>
    <li>Added the ability to switch pages</li>
</ul>

<%- include('inc/footer.ejs') %>
