<%- include('inc/header.ejs') %>

<div class="container-fluid" style="max-width: 970px">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          Date: <input type="text" value="04/23/2024">
          Rating: 1 <input type="radio" name="rating" value="1" />
          2 <input type="radio" name="rating" value="2" />
          3 <input type="radio" name="rating" value="3" />
          4 <input type="radio" name="rating" value="4" />
          5 <input type="radio" name="rating" value="5" />
          Zip Code: <input type="text" value="60565" />
        </div>
      </div>
    </div>
  </div>

<%- include('inc/footer.ejs') %>
