<br />

<footer class="text-center text-lg-start bg-light text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <p>
        Our other venture...
        <a href="https://notscrapyet.com" target="_new">Not Scrap Yet</a>
    </p>
    <% const currentYear = new Date().getFullYear() %>
    &#169; <%=currentYear%> It's Weather Outside, a <a href="https://comtily.com">Comtily</a> product.
  </div>
</footer>
<div class="text-center">
  <p>
    Weather images powered by <a href="https://www.tomorrow.io/" target="_new">Tomorrow.io</a><br />
    Sunrise and Sunset times powered by <a href="https://sunrise-sunset.org/" target="_new">sunrise-sunset.org</a>
  </p>
</div>

</div></div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</html>
