<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="icon" type="image/x-icon" href="img/favicon.ico">


    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/3ccfb6c902.js" crossorigin="anonymous"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" /> -->

    <!-- Core theme CSS -->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Include Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- <script src="js/forecasts.js"></script> -->
    <!-- <script src="js/functions.js"></script> -->

    <title>It's Weather Outside</title>
</head>

<body>
    <div style="text-align: center; max-width: 400px; margin: 0 auto; padding: 0px;">
        <table style="margin: auto;">
            <tr>
                <td style="width: 150px;">
                    <p><i class="fa-solid fa-cloud fa-2xl"></i></p>
                    <p>It's Weather Outside</p>
                </td>
                <td>
                    <p><i class="fa-solid fa-screwdriver-wrench fa-2xl"></i><br /><br />
                        We are undergoing maintenance<br />We will be back in the new year</p>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>