<%- include('inc/header.ejs') %>


<h3>Release Notes</h3>
<h6>Updated 03/12/2024</h6>
<br />

March 12, 2024
<ul>
    <li>This release page</li>
    <li>Image for unknown type forecast</li>
</ul>

<%- include('inc/footer.ejs') %>
