<%- include('inc/header.ejs') %>


<h3>Release Notes</h3>
<h6>Updated 04/26/2024</h6>
<br />

April 26, 2024
<ul>
    <li>Added feedback / feature request page</li>
</ul>

March 12, 2024
<ul>
    <li>This release page</li>
    <li>Image for unknown type forecast</li>
</ul>

<%- include('inc/footer.ejs') %>
