<%- include('inc/header.ejs') %>


<h3>Release Notes</h3>
<h6>Updated 06/19/2024</h6>
<br />

June 19, 2024
<ul>
    <li>Streamlined the backend to better handle the hourly, daily, and high/lows</li>
    <li>Updated the daily forecast to not include today, but 6 days in the future the limits of weather.gov</li>
    <li>Added sunrise and sunset to the current forecast</li>
    <li>The highs/lows in the current forecast may not be accurate if it is the first time someone has searched. The logic catches up when a user searches daily.</li>
</ul>
April 26, 2024
<ul>
    <li>Added feedback / feature request page</li>
</ul>

March 12, 2024
<ul>
    <li>This release page</li>
    <li>Image for unknown type forecast</li>
</ul>

<%- include('inc/footer.ejs') %>
