#map {
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	overflow:hidden;
	padding-bottom:50%;
	position:relative;
	height:0;
}
input[type="date"]::-webkit-clear-button {
	display: none;
}
input[type="time"]::-webkit-clear-button {
	display: none;
}