<%- include('inc/header.ejs') %>

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container text-center">
                <h1>iseecoyotes</h1>
                <p class="lead text-muted">
                    Due to the outpouring of concern over local wildlife in regards to small pets and children this site has been created to help track and notify.<br />
                    We are focusing on the ease of reporting, tracking, and notifications.<br />
                    <!-- <a href="report.html" class="btn btn-primary my-2">Report sighting</a> -->
                </p>

                <div class="row">
                    <div class="col">
                        <h4>Sightings for the past year</h4>
                        <!-- <div id="map"></div> -->
                        <img src="img/usmap.png" height="500px" />
                        <!-- <p><a href="fsmode.html" target="_new">Full screen mode</a></p> -->
                    </div>
                </div>

            </div>
        </div>
    </main>

</html>


<%- include('inc/footer.ejs') %>
